.action-call {
    align-items: center;
    background-color: #3B82F6;
    border-radius: 8px;
    color: #e5e7eb;
    flex: auto;
    gap: 5vw;
    justify-content: space-between;
    margin: 10vh 10vw;
    padding: 5vh 10vw;
}

.action-call .sign-up {
    border: #f9faf8 solid 2px;
}

.action-headline {
    color: #f9faf8;
    font-size: 20px;
    font-weight: bold;
}

.action-text {
    flex: auto;
    flex-direction: column;
    font-size: 16px;
    gap: 1vh;
}

body {
    align-items: center;
    display: flex;
    flex: auto;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

.body {
    align-items: center;
    color: #1F2937;
    flex-direction: column;
    padding: 0 10vw;
}

.card {
    align-items: center;
    flex: 0 1 0;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

.card-image {
    border: 4px solid #3B82F6;
    border-radius: 5%;
    height: 150px;
    overflow: hidden;
    width: 150px;
}

.card-text {
    flex: 0 1 0;
}

.card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-around;
}

div {
    display: flex;
}

.footer {
    align-items: center;
    background-color: #1F2937;
    color: #D4D6D9;
    justify-content: center;
    padding: 5vh 0;
    width: 100vw;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    margin: 48px;
}

.header {
    align-items: center;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hero {
    color: #f9faf8;
    background-color: #1F2937;
    justify-content: center;
    margin: 0;
    width: 100vw;
}

.hero-content {
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    margin: 1vh 10vw;
}

.hero-details {
    align-items: stretch;
    gap: 32px;
    justify-content: space-between;
    margin: 15vh 0;
}

.hero-image {
    align-items: center;
    background-color: #6D747D;
    flex: 1;
    justify-content: center;
}

.hero-text {
    align-items: flex-start;
    flex: 1;
    flex-direction: column;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

.hero-text p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 8px 0;
}

li {
    flex: auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
}

.quote-large {
    background-color: #e5e7eb;
    gap: 16px;
    margin: 10vh 0;
    padding: 10vh 18vw;
}

.quote-person {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.sign-up {
    background-color: #3B82F6;
    border: 0px;
    border-radius: 8px;
    flex: 0 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #f9faf8;
    padding: 8px 32px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style-type: none;
}