.action-call {
    background-color: #3B82F6;
    color: #ECF3FE;
    margin: 100px auto;
    padding: 32px 48px;
}

.banner {
    color: #f9faf8;
    background-color: #1F2937;
    justify-content: center safe;
    margin: 0;
    width: 100vw;
}

.banner-content {
    flex: auto;
    margin: 1vh 10vw;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

.body {
    color: #1F2937;
}

div {
    display: flex;
}

.footer {
    color: #D4D6D9;
}

.header {
    align-items: center;
    flex: auto;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    flex: auto;
}

.logo {
    flex: auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    list-style-type: none;
    margin-left: auto;
}